<style>
    .nav2 {
        margin-top: 50px;
      background-color: #EB581A;
    }
</style>
<nav class="navbar navbar-default navbar-fixed-top nav2">
    <div class="container-fluid">
        <table width="100%">
            <tr>
                <td width="20%" align="center">
                    <div class="fb-share-button" data-href="http://www.bostonglobe.com/business/2016/02/09/major­solar­incentive­runs­out­mass-
surprising­many­industry/w3Uskmamtp3Oky3nCJJuFL/story.html" data-layout="link"><img src="~/Content/img/share.png" /></div>
                </td>
                <td width="20%" align="center">
                    <a href="mailto:congressman@house.gov?&subject=Support%20For%20Solar%20in%20Massachusetts&body=Dear Representative,%0D %0DAs a concerned citizen, and supporter of a clean energy future, I write to you today in support of a sustainable solar energy industry in Massachusetts.  The net metering bills in the joint committee do not currently meet these necessary requirements. H-3854 would slash net metering compensation by up to 75 percent. While recognizing that solar projects actively make use of the grid and that there is a cost to maintain and improve the grid for all, net metering compensation should continue at retail rates until the value of solar study is complete.%0D %0DI request that you continue your best efforts to strengthen support for access to affordable clean energy for all citizens, and to consider wisely your choices for our economy and our environment. Thank you for your care and attention to this pressing matter.%0D %0DSincerely,%0D %0DTim Danaher"><img src="~/Content/img/email.png" /></a>
                </td>
                <td width="20%" align="center">
                    <a href="http://action.votesolar.org/page/s/don-t-let-the-sun-set-on-massachusetts-solar"><img src="~/Content/img/petition.png" /></a>
                </td>
                <td width="20%" align="center">
                    <a href="tel:6177222430"><img src="~/Content/img/call.png" /></a>
                </td>
                <td width="20%" align="center">
                    <a href="http://www.google.com/calendar/event?action=TEMPLATE&text=Demonstration%20Solar%20Energy&dates=20131124T010000Z/20131124T020000Z&details=Event%20Details%20Here&location=123%20Main%20St%2C%20Example%2C%20MA"><img src="~/Content/img/event.png" /></a>
                </td>
            </tr>
        </table>
    </div>
</nav>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<div class="container">
    <div class="list-group">
        <button class="list-group-item" href="@Url.Action("Action","Home")" data-transition="slide">
            <img src="~/Content/img/solar1.jpg" width="20%" height="20%" />
            <h3 class="list-group-item-heading">Support Solar in Massachusetts</h3><br />
            <h4 class="list-group-item-heading">Summary</h4>
            <p>Many solar projects in Massachusetts are on hold due to the current legislative stalemate. In order restart these projects and to continue with the positive economic benefits of solar, smart policy is needed to ensure the industry continues to thrive. Solar is employing thousands of local workers, building stronger and healthier communities, and reducing electricity costs.</p>
            <p>Until recently, Massachusetts was one of our nation’s solar powerhouses – but now an unnecessary cap on one of Massachusetts’ most important solar programs has solar projects stalled in more than half the state, putting significant consumer savings and good-paying local jobs at risk.</p>
            <p>The state legislature must act quickly to raise the net metering cap and get solar back on track in the state. Solar supporters are combatting delays and misinformation fueled by the state’s utilities and their high-powered allies. Take action to that overcomes the opposition and strengthens support for access to affordable clean energy for all citizens. </p>
            <p>MassSolar suggests that the the following should be part of any future solar policy in the Commonwealth:</p>
            <ol>
                <li>
                    Eliminate the net metering caps, which create uncertainty in the solar industry and set an ambitious goal for future solar capacity in the state
                </li>
                <li>
                    Preserve current net metering and virtual net metering frameworks
                </li>
                <li>
                    Initiate a comprehensive, transparent, and publicly scrutinized study to determine the appropriate value of solar energy
                </li>
                <li>
                    Create a new solar incentive program which will reduce costs appropriately and incentivize diverse solar installations across the state
                </li>
                <li>
                    Grandfather current existing solar projects into their current programs to maintain the security of investments across the state
                </li>
                <li>
                    Avoid any minimum bills. These charges disproportionately punish low income, municipal, and community shared solar customers, and will be unnecessary after a comprehensive value of solar study is conducted
                </li>
            </ol>
            <br />
            <h4 class="list-group-item-heading">Active Bills</h4>
            <p><a href="@Url.Action("Bill","Home")">H.3854</a> An act providing for the establishment of comprehensive adaptation management plan in response to climate change</p>
            <p><a href="">H.3724</a> An act relative to a long-term sustainable solar industry</p>
            <br />
            <h4 class="list-group-item-heading">Read More From</h4>
            <a href="http://www.google.com/url?q=http%3A%2F%2Fwww.bostonglobe.com%2Fbusiness%2F2016%2F02%2F09%2Fmajor-solar-incentive-runs-out-mass-surprising-many-industry%2Fw3Uskmamtp3Oky3nCJJuFL%2Fstory.html&sa=D&sntz=1&usg=AFQjCNHGqLXORL4RFSs-PoExKIaJrxwqFQ">Boston Globe</a><br />
            <a href="http://www.google.com/url?q=http%3A%2F%2Fmedford.wickedlocal.com%2Farticle%2F20160128%2FNEWS%2F160127066&sa=D&sntz=1&usg=AFQjCNH0191mjqx2io7Cs86Zq47X3JwR5A"> Wicked Local</a><br />
            <a href="http://www.google.com/url?q=http%3A%2F%2Fusgbcma.org%2Fnet-metering-updates&sa=D&sntz=1&usg=AFQjCNGrXctpMabokjHkyXZlXEIdKkgA-Q"> US Green Building Council MA Chapter</a><br />
            <a href="http://solarisworking.org/blog/a-primer-on-solar-energy-and-policy-in-massachusetts"> MassSolar</a><br />
        </button>
    </div>
</div>
<br />
<br />
<br />
<br />
<br />
<br />
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
            <table width="100%">
                <tr>
                    <td width="25%" align="center">
                        <a class="page-scroll" href="@Url.Action("Interest","Home")"><img src="~/Content/img/settings.png" /></a></td>
                    <td width="25%" align="center">
                        <a class="page-scroll" href="@Url.Action("Article","Home")"><img src="~/Content/img/home.png" /></a></td>
                    <td width="25%" align="center">
                        <a class="page-scroll" href="#"><img src="~/Content/img/profile.png" /></a></td>
                    <td width="25%" align="center">
                        <a class="page-scroll" href="#"><img src="~/Content/img/notification.png" /></a></td>
                </tr>
            </table>
    </div>
</nav>